* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  body {
    width: 100vw;
    height: 100vh;
    background: #000000;
    overflow: hidden;
  }
  ul {
    list-style: none;
  }
  .context-menu { 
    position: absolute; 
  } 
  .menu {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    padding: 3px 3px;
    min-width: 13rem;
  }
  .menu > li > a {
    font: inherit;
    border: 0;
    padding: 3px 30px 3px 15px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    text-decoration: unset;
    color: #000;

  }
  .menu > li > a:hover {
    background:#e6e6e6;

  }
  .menu > li > a > i {
    padding-right: 10px;
  }
